.container{
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    background-color: black;
}

@media (prefers-color-scheme: dark) {
    .container  { background:  red; color: white; }
  }
  
  @media (prefers-color-scheme: light) {
    .container   { background: white; color:  #555; }
  }